.overlay {
  background-color: rgba(0, 0, 0, 0.8);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
}

.modal {
  position: relative;
  background-color: white;
  padding: 10px;
  max-width: 90%;
  max-height: 95%;
  outline: none;
  border-radius: 8px;
}

.imagePart {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.btn {
  color: rgba(0, 0, 0, 0.8);
  margin: 10px;
  background-color: transparent;
  border: none;
  transition: transform 1s ease-in-out;
}

.btn:hover {
  transform: scale(1.2);
}

.btn:disabled {
  opacity: 0.3;
  pointer-events: none;
  transform: none;
}

.img {
  max-width: 100%;
  max-height: 80vh;
  width: auto;
  height: auto;
}

.photoInfo {
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 10px;
}

.description {
  color: rgba(0, 0, 0, 0.8);
  white-space: wrap;
  font-style: italic;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-bottom: 5px;
  font-size: 12px;
}

.userInfo {
  display: flex;
  align-items: center;
}
.userIcon {
  border: 1px solid rgb(71, 71, 255);
  border-radius: 50px;
  width: 32px;
  height: 32px;
  margin-right: 5px;
}

.userName {
  font-size: 12px;
  color: rgb(71, 71, 255);
  font-weight: bold;
  transform: color 1s ease-in-out;
}
.userName:hover {
  color: rgb(42, 42, 183);
}

@media screen and (min-width: 768px) {
  .description {
    white-space: nowrap;
    margin-bottom: 0;
    font-size: 16px;
  }
  .photoInfo {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .userName {
    font-size: 16px;
  }

  .userInfo {
    justify-content: center;
    margin-left: 15px;
  }
}
